<h1>Node.hbs route page</h1>
recievedMessage : {{recievedMessage}}<br>
email : {{email.email}}
<hr>
<form action="/" method="POST">
<input type="email" name="emailInForm">
<button type="submit">Submit</button>
</form>