<div class="container">
<div class="row">
    <div class="col-md-8 col-md-offse">
        <article class="panel panel-success">
            <div class="panel-body">

            </div>
           <footer class="panel-footer">
               <div class="author">

               </div>
               <div class="config">
                   <a href="#" class="href">Edit</a>
                   <a href="#" class="href">Delete</a>
               </div>
           </footer>
        </article>
    </div>
</div>
</div>>